{% load static %}
<html>
<head>
    <title>Grr</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Pirata+One&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>

        body{
            font-family: 'Pirata One', cursive;
            font-size: 17px;
            background-color: floralwhite;
        }



        #header{
          background-color:#161616;
        }


    </style>
</head>
<body>
    <div id="header">
      <nav class="navbar navbar-expand-sm navbar-dark">
      </nav>
      <center>
          <img src="{% static 'logo.jpeg' %}" alt="ButterflyFX"><br>
      </center>
    </div>
    <div>
        <nav class="navbar navbar-expand-sm navbar-light">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="{% url 'login'%}">Login</a>
                </li>
                {% for category in categories %}
                <li class="nav-item">    
                    <a class="nav-link" href="{% url 'category-detail' category.pk %}">{{ category.name }}</a>
                </li>
                {% endfor %}
                <li>
                <form class="navbar-form" action="{% url 'search' %}" method="get">
                    <input name="q" type="text" class="form-control" placeholder="Search">
                </li>
                <li class="pl-2">
                    <input class="btn btn-info" type="submit" value="Pesquisar">
                </form>
                </li>
            </ul>
          </nav>
    </div>
    <hr>

    {% block content %}
    {% endblock %}

    <footer>
         <div>
    </div>
    </footer>
</body>
</html>