{% extends "blog/base.html" %}

{% block content %}
<center>
	<h3 class="my-4">{{ object.name }}</h3>
	<hr>
    <br>
    <div class="col-10" id="box">  
        <div class="row">
            {% for post in object.posts.all %}
                {% include "blog/post_card.html" %}
            {% endfor %}
        </div>
    </div>
 </center>       
 {% endblock %}

