{% extends "blog/base.html" %}
{% block content %}
<center>
    <br>
    <div class="col-10" id="box">  
        <div class="row">
            <div class="col-md-12 mt-3 text-center">
                    <img src="{{ object.banner.url }}" class="img-fluid">
                    <h1> {{object.title}} </h1>
                    <h4> Autor: {{object.author}} </h4>
                    <hr>
                        <br>
                        <p align="justify">{{object.text|safe}}</p>
                    <hr>
                    <h2>Comentários:</h2>
                    <form method="POST" action="{% url 'comment' object.id %}">
                        {% csrf_token %}
                        <textarea name="text">
                        </textarea>
                        <input type="submit" value="Comentar">
                    </form>
                    {% for comment in post.comments.all %}
		            <p>
			        <b> {{ comment.author }}</b>
                        {{ comment.text }}
			            {{ comment.created_at }}
		            </p>
	                {% endfor %}

	

                    
            </div>
        </div>
    </div>
</center>



{% endblock %}

