<div class="col-md-12 mt-3">

        <img src="{{ post.banner.url }}" alt="Post image" class="img-fluid"/>

        <h1> {{post}} </h1>

        <div id="code{{post.id}}" class="collapse mb-4">
            <br>
            <h4 class="mw-50"> {{post.description}} </h4>
            <a href="{% url 'post-detail' post.pk %}" class="btn btn-info">Ler matéria completa</a>
        </div>
        <button type="button" class="btn btn-warning" data-toggle="collapse" data-target="#code{{post.id}}">Ler Mais</button>        
        <hr>
</div>
