{% extends "blog/base.html" %}

{% block content %}

    <center>

        <br>

    <div class="col-10" id="box">  
        <div class="row">
            {% for post in object_list %}
              {% include "blog/post_card.html" %}
            {% endfor %}
            </div>
        </div>
    </div>
    </center>


{% endblock %}
